@charset "UTF-8";
body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: #f90;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


.sidebar {
  position: relative;
  width: auto;
  margin: 0;
  padding: 25px;
}
  
  .sidebar img {
    display: none;
  }
  .sidebar .name {
    display: inline;
    float: right;
  }
  .sidebar h1 {
    display: none;
  }
  .sidebar section.sections {
    display: inline;
  }
  .sidebar ul {
    display: inline;
  }
  .sidebar section.projects {
    display: none;
  }
  .sidebar .meta {
    display: none; }
  .sidebar ul {
    padding: 25px; }
  .sidebar li {
    display: inline; }
  .sidebar .sections {
    margin: 0; }
    .sidebar a {
      font-size: 15px;
      margin: 0 20px 0 0;
      padding: 5px 10px;
    }

.content {
  margin: 0;
  padding: 5px 15px;
  width: auto;
}
  .content h1 {
    margin: 30px 0 5px 0;
    font-size: 30px;
    text-align: center;
  }
  .content h2 {
    margin-top: 25px;
  }
  .content p {
    line-height: 1.7em;
    font-size: 14px;
  }
  .content pre {
    font-size: 14px;
  }
  .content ul {
    margin: 10px 0px;
    padding-left: 20px;
  }
    .content ul li {
      margin: 3px 0px;
    }


section.amazon {
  display: none;
}

.highlight, pre {
  margin: 10px -15px 20px -15px;
  background-color: #322;
  font-size: 14px;
  text-shadow: none;
  color: #fff;
  padding: 10px 15px;
}
.hightlight code{
  float: left;
}



