doctype 5
html(lang="en")
  head
    link(rel="stylesheet", href="assets/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet", href="assets/markstrap.css")
  body(data-spy="scroll")
    div.site.container-fluid
      div#navbar.span5
        div.sidebar-nav
          ul.nav.nav-list
      div.span9.offset5.content
        != data
    script(src="assets//jquery.min.js",type="application/javascript")
    script(src="bootstrap/js/bootstrap.min.js",type="application/javascript")
    script(src="markstrap.js",type="application/javascript")
