.notouch {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
ul.menu a {
  cursor: pointer;
}
* {
  margin: 0px;
  padding: 0px;
}
.sidebar-nav-fixed {
  position: fixed;
  top: 60px;
  width: 15.0%;
}
#container {
  min-height: 100%;
}
@media (max-width: 767px) {
  .sidebar-nav-fixed {
    width: auto;
  }
}
@media (max-width: 979px) {
  .sidebar-nav-fixed {
    position: static;
    width: auto;
  }
}
.CodeMirror-scroll {
  min-height: 100%;
  height: auto;
}
.CodeMirror pre {
  font-size: 12px;
}
h1 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}
.activeline {
  background: #e8f2ff !important;
}
div.CodeMirror {
  border-radius: 0px 0px 10px 10px;
  position: relative;
  background-color: white;
  padding: 0px 10px 10px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 6px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) -2px -2px 6px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 6px 0;
}
div.CodeMirror .CodeMirror-scroll {
  height: auto;
  width: auto;
  overflow-y: hidden;
  overflow-x: auto;
  width: 100%;
  font-family: "Consolas", "Monospace", "Monaco", monospace;
  font-size: 11px;
}
div.CodeMirror .codemirror pre {
  font-family: "Consolas", "Monospace", "Monaco", monospace;
  font-size: 11px;
}
div.editor-container {
  width: auto;
  min-height: 100%;
}
div.preview {
  position: relative;
  padding: 20px;
}
div.preview ul {
  margin: 0px;
}
div.preview ul.todos {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}
div.preview ul.todos div.todo-text {
  float: left;
  margin-left: 10px;
  font-size: 24px;
}
div.preview ul.todos li {
  line-height: 35px;
  width: auto;
  clear: both;
  padding: 10px 0px;
  border-bottom: solid 1px #f0f0f0;
}
div.preview ul.todos li div.display {
  width: 100%;
}
div.preview ul.todos li input.check {
  float: left;
  position: relative;
  top: 9px;
}
div.preview ul.todos li div.checked {
  text-decoration: line-through;
}
div.preview ul.todos li:after {
  content: "";
  display: block;
  clear: both;
}
div.preview div.todo-count {
  margin-top: 20px;
  color: #666;
  font-size: 14px;
}
div.preview div.todo-count span.number {
  color: black;
}
div.preview input.addTodo {
  height: 40px;
  font-size: 32px;
  color: #666;
  margin: 10px 0px;
  width: 100%;
}
div.preview button.delete {
  width: 32px;
  height: 32px;
  float: right;
  background-color: transparent;
  border: none;
}
div.preview fieldset {
  padding: 10px;
  clear: both;
  background-color: #fff;
  border: none;
}
div.preview fieldset fieldset {
  border: none;
  border-top: solid 3px #000;
}
div.preview fieldset legend {
  text-align: left;
  padding: 0 10px;
  color: #000;
  font-size: 15px;
  font-weight: bold;
}
div.preview fieldset textarea {
  width: 150px;
  height: 120px;
  padding: 0px;
}
div.preview fieldset label {
  display: block;
  font-weight: bold;
  text-align: right;
  width: 100px;
  float: left;
  color: #444;
}
div.preview fieldset input,
div.preview fieldset textarea {
  float: left;
  font-size: 12px;
  padding: 4px 2px;
  border: solid 1px #eee;
  margin: 2px 0 20px 10px;
  color: #444;
  width: auto;
  outline: none;
  -webkit-transition: border 200ms;
}
div.preview fieldset input:focus,
div.preview fieldset textarea:focus {
  color: black;
  border: solid 1px #47e;
  -webkit-transition: border 200ms;
}
